.chose-us-section{
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.chose-us-section .chose-us-title-container{
    display: flex;
    justify-content: center;
    width: 15%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
   
}

/* color de los simbolos de interrogacion */
.a{
    color: var(--amarillo);
}
.az{
    color: var(--lila);
}

.chose-us-section .chose-us-title-container .chose-us-title{
    font-size: 40px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--azul);
}

.chose-us-section .chose-us-text-container{
    display: flex;
    justify-content: start;
    margin-top: 100px
}

.chose-us-section .chose-us-text-container .chose-us-text{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: #333;
}

.chose-us-section .chose-us-hero {
    position: absolute;
    z-index: -1000;
    background-color: var(--rosa);
    width: 90%;
    height: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 3px;
    margin-top: 160px;
    bottom: 8px;
    box-shadow: 3px 12px 14.5px 2.5px #dddddd;
    clip-path: polygon(32.5% 0%, 93.8% 0%, 93.9% 100%, 25.3% 100%);  
}
