.principal-section-container{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    position: relative;
    background-image: url('../../assets/fondo-principal2.jpg');
    background-size: cover;
    scroll-margin-top:120px ;
}

/*Un container para cada uno de los perfiles*/

/*Container izquierdo*/

.principal-section-container .left-img-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

.principal-section-container .left-img-container .img-text-container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    width: 80%;
}


.principal-section-container .left-img-container .img-text-container .left-profile-pic{
    animation: aparecerIzq 1s ease-out forwards;
    height: 80%;
    margin-top: 40px;
}



.principal-section-container .left-img-container .img-text-container .profile-name-left {
    margin-left: 50%;
    z-index: 15000;
    position: absolute;
    top: 75%;
    color: var(--amarillo);
    font-size: 30px;
    text-shadow: 1px 1px #222;
    opacity: 0%;
    animation: aparecer 1.5s ease-out 1s forwards;
}



@keyframes aparecerIzq {
    0% {
        margin-left: -60%;
        opacity: 0%;
    }
    
    100% {
        margin-left: 0%;
        opacity: 100%;
    }
}



/*Container Derecho*/

.principal-section-container .right-img-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.principal-section-container .right-img-container .img-text-container{
        position: relative;
            height: 100%;
            display: flex;
            justify-content: space-around;
            width: 80%;
}

.principal-section-container .right-img-container .img-text-container .right-profile-pic{
    animation: aparecerDer 1s ease-in .3s forwards;
    opacity: 0%;
    height: 80%;
    justify-content: space-around;
    position: relative;
    margin-top: 40px;
 
}

.principal-section-container .right-img-container .img-text-container .profile-name-right {
    margin-left: 50%;
    z-index: 15000;
    position: absolute;
    top: 75%;
    color: var(--amarillo);
    font-size: 30px;
    text-shadow: 1px 1px #222;
    opacity: 0%;
    animation: aparecer 1.5s ease-out 1s forwards;
}







@keyframes aparecerDer {
    0% {
            top: -60%;
            opacity: 0%;
        }
    
        100% {
            top: 0%;
            opacity: 100%;
        }
}

/*estilos generales*/

@keyframes aparecer {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}

@media screen and (max-width:700px) {
    .principal-section-container .right-img-container .img-text-container .right-profile-pic{
        height: 65%;
    }
    .principal-section-container .left-img-container .img-text-container .left-profile-pic{
        height: 65%;
    }

    .principal-section-container .right-img-container .img-text-container .profile-name-right{
        top: 65%;
    }

    .principal-section-container .left-img-container .img-text-container .profile-name-left{
        top: 65%;
    }

}

@media screen and (max-width:500px){
    .principal-section-container {
        height: 45vh;
    }
    .principal-section-container .right-img-container .img-text-container .right-profile-pic {
        height: 64%;
    }

    .principal-section-container .left-img-container .img-text-container .left-profile-pic {
        height: 64%;
    }

    .principal-section-container .right-img-container .img-text-container .profile-name-right {
        top: 68%;
    }

    .principal-section-container .left-img-container .img-text-container .profile-name-left {
        top: 68%;
    }
}