@font-face {
  font-family: 'franklin-gothic-medium';
  src: url('../public/fonts/franklin-gothic-medium.ttf') format('truetype');
  font-display: swap;
}

:root {
  --lila:#c70064;
  --rosa:#ff60bd;
  --amarillo:#ffc00b;
  --azul:#d8ccff;
  --blanco:#f8fdfff7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .4mm;
}

html {
  scroll-behavior: smooth;
  background-color: #f8fdfff7;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
