@font-face {
  font-family: 'franklin-gothic-medium';
  src: url('../public/fonts/franklin-gothic-medium.ttf') format('truetype');
  font-display: swap;
}

:root {
  --lila:#a90962;
  --rosa:#ff006b;
  --amarillo:#f9bf30;
  --azul:#110453;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .4mm;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
